body {
  font-family: "Montserrat Alternates", sans-serif;
}

div.cell {
  height: 250px;
  width: 250px;
  background-color: darkviolet;
  color: rgb(187, 177, 35);
  font-size: 3rem;
  font-weight: 600;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(0, 255, 42);
  text-align: center;
  line-height: 250px;
  border-radius: 1rem;
}

#box {
  background-color: chocolate;
}
